body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contenedor_principal {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#formulario input[type="text"], #formulario input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#formulario input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario input[type="submit"]:hover {
    background-color: #0056b3;
}